.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bb-editor {
  border: 1px solid #ccc;
  height: 500px;
  width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.bb-editor-toolbar span {
  margin: 0 10px;
  display: inline-block;
}

.bb-editor .DraftEditor-root blockquote {
  margin: 16px 0;
  padding: 10px 20px;
  border-left: 3px solid #D3D3D3;
}
.bb-editor .DraftEditor-root pre {
  background-color: #F6F6F6;
  padding: 20px;
}
.bb-editor .DraftEditor-root pre pre {
  padding: 0;
}